.features {
    // background-color: $color-grey-light-2;
    grid-column: center-start / center-end;
    margin: 15rem 0;
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    column-gap: 6rem;
    row-gap: 5rem;
    align-items: start; // for last item
} 

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 2.5rem;
    // align-items: start;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        // grid-row: 1 / -1;  this won't work  
    }

    &__text {
        font-size: 1.7rem;
        grid-column: 2 / 3;
    }
}