.sidebar {
    background-color: $color-primary-dark;
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $bp-large) {
        grid-column: full-start / full-end;
        grid-row: 1 / 2;
    }

    &__icon {
        border: none;
        border-radius: 0;
        width: 4rem;
        height: 2px;
        background-color: #fff;
        margin-top: 4rem;
        position: relative;

        &::before, &::after {
            content: " ";
            display: block;
            background-color: #fff;
            width: 4rem;
            height: 2px;
        }

        &::after {
           transform: translateY(1.5rem);
        }

        &::before {
            transform: translateY(-1.5rem);
        }
      
 
    }
}
